body,html{
	height: 100%;
	width: 100%;
  font-family: "Poiret One", sans-serif;

}


.welcome{
	margin-top: 20px 20px;
	width: 100%;
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
	text-transform: uppercase;
	background-color:black;
	display: inline-block;
	opacity: 70%;
	border-radius: 40px;
	max-width: 340px;
	min-width: 340px;
	color: #60ac3b;
	/*color: #2d2d2d;*/
	font-size: 1.5rem;
}

.navbar {
	display: inline-block;
	border-radius: 40px;
	padding: 10px 10px;
	box-sizing: border-box;
}

	
.section1{
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	/*height: 80vh;*/
	padding-top:10px;
	margin-bottom: 25px;
	background: url(unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Appetizers{
	display: inline-block;
	color: #74896f;
	 border-bottom: 5px solid #60ac3b;
	 border-right: 5px solid #60ac3b ;
	box-shadow: 4px 4px 5px #60ac3b;
	
	margin-bottom: 35px;
}
.card{
	height: px;
	margin: 40px;
	padding:  10px ;
}
.section2{
	padding-bottom: 30px;
	margin: center;
	
}

.platters{
	border-radius: 25%;
	opacity: 80%;
	
}
